.gap-1 {
  gap: 10px !important;
}
.gap-2 {
  gap: 20px !important;
}
.gap-3 {
  gap: 30px !important;
}
@media (min-width: 1400px) {
  .custom-container {
    width: 1400px !important;
    max-width: 1400px !important;
    margin: 0 auto !important;
  }
}
.main-nav-item:first-child .main-nav-link {
  padding: 22px 12px;
}
.header-action-account {
  border-right: none !important;
  min-width: 0 !important;
}
.single-nav {
  width: 270px !important;
}
.main-nav-item {
  margin: 0px;
}
